//Colors

//Primary

$background-color: hsl(225, 100%, 94%);
$primary-color: hsl(245, 75%, 52%);

// Neutral

$card-background-color: hsl(225, 100%, 98%);
$secondary-color: hsl(224, 23%, 55%);
$tertiary-color: hsl(223, 47%, 23%);

$offer-background: hsla(225, 100%, 94%, 0.377);;


//Typography

$font-size: 15.2px;